.app_start {
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    transition: background-color 300ms;
    background: linear-gradient(0.25turn, #71989B, #ebf8e1, #DEA340);
}

.app_logged {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.img_ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-inline-start: 0px;
    padding-top: 25px;
    padding-top: 150px;
}

.img_li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

.form {
    display: flex;
    bottom: 0;
    gap: 10px;
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    background: linear-gradient(0.25turn, #496669, #ebf8e1);
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.169);
    padding-bottom: 10px;
    padding-top: 5px;
    width: 100%;
}

.chatRoom {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 78vh;
    display: flex;
    background: linear-gradient(0.25turn, #71989B, #ebf8e1, #DEA340);
}

.chat_ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
}

.message_li {
    margin-left: 15px;
    list-style: none;
    align-self: flex-start;
    padding: 15px 10px 15px 10px;
    border: solid 0, 02px black;
    width: fit-content;
    border-radius: 1rem 1.5rem 1.25rem;
    /*
    background-color: rgba(206, 206, 206, 0.94);
        box-shadow: 12px 6px 2px 1px rgba(0, 0, 255, .2);

    */
    color: white;
    background-color: #616161;
    box-shadow: 12px 6px 2px 1px #49554e;
}

.message_li_user {
    align-self: flex-end;
    margin-right: 15px;
    list-style: none;
    display: flex;
    padding: 15px 10px 15px 10px;
    border: solid 0, 02px black;
    border-radius: 1rem 1.5rem 1.25rem;
    /*
    background-color: rgba(159, 220, 159, 0.94);
       box-shadow: 12px 6px 2px 1px rgba(0, 0, 255, .2);
    */
    color: black;
    background-color: #b6b894;
    box-shadow: 12px 6px 2px 1px #49554e;
}

.input {
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid;
    background: linear-gradient(0.25turn, #496669, #ebf8e1);
    border-color: rgba(0, 0, 0, 0.12);
    position: fixed;
    width: 100%;
}

.signout_button {
    position: fixed;
    right: 20px;
    background-color: #3f87a6;
}

.logo {
    padding-left: 40px;
    cursor: pointer;
    color: aliceblue;
    font-size: 20px;
    font-weight: 800;
}

.signin_button {
    position: fixed;
    right: 20px;
}

.submit_button {
    width: 15%;
}

@media screen and (min-width: 250px) and (max-width: 768px) {
    .app_start {
        height: 100%;
    }
    .chatRoom {
        height: 100%;
    }
    .submit_button {
        font-size: 1px;
    }
    .form {
        padding-top: 3px;
        padding-bottom: 5px;
        gap: 5px;
        align-items: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
    .chatRoom {
        height: 100%;
    }
}

html {
    overscroll-behavior: none;
}